body {
  background-color: #f8f9fa;
}

.log-in {
  width: 350px;
  margin-top: 25px;
  padding: 40px 50px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #fff; /* Đảm bảo có màu nền */
}

.log-in .logo {
  width: 80px;
  margin-bottom: 5px;
  display: inline-block; /* Để căn giữa trong text-align center */
}

.signin-btn {
  width: 100%;
  background-color: #00b37e;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.signin-btn:hover {
  background-color: #00b37e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
}

.signin-btn:active {
  transform: translateY(0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #00b37e;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
}

.signin-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px; /* Sửa nhẹ lại cho đồng nhất 1 border-radius */
  font-size: 15px;
  margin-bottom: 5px;
  transition: 0.2s;
}

.signin-input:focus {
  outline: none;
  border-color: #00b37e;
  box-shadow: 0 0 4px rgba(0, 179, 126, 0.3);
}

/* forgot password css */
.forgot {
  float: right;
  font-size: 15px;
  color: var(--primary-color);
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}

.footer {
  margin-top: 20px;
  font-size: 15px;
  color: var(--muted);
}

.footer a {
  color: black;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
