<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}My Web App{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/layout.css') }}"
    />
    {% block css %}{% endblock %}
  </head>
  <body>
    <header class="navigation-bar">
      <a
        href="{{url_for('home_page')}}"
        class="logo"
        style="text-decoration: none"
      >
        <img
          src="{{ url_for('static', filename='images/logo.png') }}"
          class="logo-img"
          alt="VietConnect"
        />
        <div class="logo-text">
          VIETCONNECT<br />
          <span class="logo-subtext">RESIDENT SERVICES</span>
        </div>
      </a>

      <nav class="menu">
        <a href="{{url_for('home_page')}}">Why VietConnect?</a>
        <a href="{{url_for('about_us')}}">About Us</a>
        <a href="https://www.facebook.com/pham.huu.nam.AmnOO" target="_blank"
          >Support</a
        >
        <a href="{{url_for('map.map')}}"> Map </a>
      </nav>

      <div class="auth-buttons">
        {% if not session.user_id %}
        <a href="{{ url_for('auth.signin_page') }}" class="signin-btn">
          Sign In
        </a>
        <a href="{{ url_for('auth.signup_page') }}" class="signup-btn">
          Sign Up
        </a>
        {% else %}
        <div class="user-info">
          <img src="{{ session.avatar }}" alt="User Avatar" class="avatar" />
          <div class="user-text">
            <span class="greeting"
              >Hi, <strong>{{ session.fullname }}</strong></span
            >
            <a href="{{ url_for('auth.logout') }}" class="logout-link"
              >Log out</a
            >
          </div>
        </div>
        {% endif %}
      </div>
    </header>

    <!-- ===== MAIN CONTENT ===== -->
    <main>
      {% block content %}
      <!-- Page-specific content goes here -->
      {% endblock %}
    </main>

    <!-- ===== MAIN JS ===== -->
    <script src="{{ url_for('static', filename='script/layout.js') }}"></script>
    {% block script %}{% endblock %}
  </body>
</html>
